<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysLogDao">
   <!-- 查询当前页记录，resultType的值为一行记录要映射的结果类型 -->
    <select id="findPageObjects"
            resultType="com.cy.pj.sys.entity.SysLog">
         select *
         from sys_Logs
          <where>
          <if test="username!=null and username!=''">
          username like concat("%",#{username}"%")
          </if> 
          </where>
         order by createdTime desc
         limit #{startIndex},#{pageSize}    
</select>
    <!-- 按条件查询记录总数 -->
    <select id="getRowCount"
            resultType="int">
          select count(*) 
          from sys_Logs
          <where>
          <if test="username!=null and username!=''">
          username like concat("%",#{username},"%")
          </if> 
          </where>
      </select>
   
    
    <delete id="deleteObjects">
       delete from sys_logs
       <where>
         <foreach collection="ids"
                  item="id">
              or id=#{id}
         </foreach>
       </where>
   </delete>
   
   <insert id="insertObject">
   insert into sys_logs
   (username,operation,method,params,time,ip,createdTime)
   values(#{username},#{operation},#{method},#{params},#{time},
   #{ip},#{createdTime})
   
   </insert>
</mapper>
